body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.menu {

}

.menuTitle {
}

.menuitem {
}

.progress .progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}

.vote1 {
}

.vote2 {
}

.vote3 {
}

.vote4 {
}

.voteBar {
}

.voteProg .voteProgBar {
}

.alert{
  display:none;
}

.btnPrice {
   -webkit-transition-duration: 0.4s;
   transition-duration: 0.4s;
}

.btnPrice:hover{
    background-color: green;
    color: white;
}

.btnPrice:hover:before {
    content:"+ ";
}


.sbMenu {

}


.logo {
    
}

.streetsMenu {

}

#ingredients {

    font-size:11px;

}

#pr1 {


}


