@using SuperLunchDecider
@model dynamic
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Super Lunch Decider Mach 20</h1>
</div>

<p><b>Restaurant List (WIP):</b></p>
@*@foreach (Restaurant restaurant in Model.Restaurants)*@