@model IEnumerable<MvcLunchSite.Models.Restaurant>
@{ var list = (List<MvcLunchSite.Models.Restaurant>)ViewData["RestaurantList"];}
@{ var Menulist = (List<MvcLunchSite.Models.Menu>)ViewData["MenuList"];}
@{ var Itemlist = (List<MvcLunchSite.Models.MenuItem>)ViewData["MenuItemList"];}

@{ 
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
       @foreach(var restItem in list)
       {
           <p>Rest Stuff</p>
           @Html.DisplayName(restItem.name)
           <br/>
           foreach (var menuItem in Menulist)
           {
               if (menuItem.restaurantID == restItem.ID)
               {
                <p>&nbsp&nbsp&nbsp menu stuff</p>
                <p>&nbsp&nbsp&nbsp @Html.DisplayName(menuItem.menuName)</p>
                   <br/>
                   foreach (var item in Itemlist)
                   {
                       if (item.menuID == menuItem.menuID)
                       {
                        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp item stuff</p>
                        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp @Html.DisplayName(item.menuItemName)</p>
                       }
                   }
               }
           }
       }
    </div>
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
       
    </div>
</div>