@{
    ViewBag.Title = "This will change your life";
}
<h2>@ViewBag.Title.</h2>
<h3>Yes, seriously...</h3>

<p>Welcome to the the most bombtastic, extraordinary, incomparable, revolutionary website that will
    finally give you the option to not get pizza this upcoming First Friday!</p>
<p><a target="_blank" href="https://youtu.be/dfe8tCcHnKY?t=21s"> Cue Also sprach Zarathustra</a></p>
<img src="http://www.reactiongifs.com/r/2013/10/tim-and-eric-mind-blown.gif" alt="Mountain View" style="width:1200px;height:700px;">
